.cards {
  width: calc(100% - 200px * 2);
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 1250px) {
  .cards {
    width: calc(100% - 150px * 2);
  }
}

@media screen and (max-width: 1122px) {
  .cards {
    width: calc(100% - 100px * 2);
  }
}

@media screen and (max-width: 1033px) {
  .cards {
    width: calc(100% - 80px * 2);
  }
}

@media screen and (max-width: 915px) {
  .cards {
    width: calc(100% - 60px * 2);
  }
}

@media screen and (max-width: 772px) {
  .cards {
    width: calc(100% - 19px * 2);
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
  }
}
