.profile__prof {
  padding-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

}

@media screen and (max-width: 772px) {
  .profile__prof {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-top: 14px;
    text-align: center;
  }
}

@media screen and (max-width: 422px) {
  .profile__prof {
   max-width: 180px;
  }
}

@media screen and (max-width: 395px) {
  .profile__prof {
   max-width: 158px;
  }
}
