.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  max-width: 297px;
}

@media screen and (max-width: 772px) {
  .profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
  }
}

@media screen and (max-width: 321px) {
  .profile__name {
    max-width: 189px;
  }
}
